@use "../base/variables" as v;
@use "../base/mixins" as m;

@keyframes slidemove {
  0% {
    transform: skew(53deg) translateX(-50rem);
    opacity: 0;
  }

  100% {
    transform: skew(0);
    opacity: 1;
  }


}